@model IEnumerable<InvoiceAssignment.DAL.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4>Invoices</h4>
            <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus"></i> <strong>Create New</strong></a>
        </div>

    </div>

    <table class="card-table table table table-hover" style="border-bottom: 1px solid lightgray">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RefNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th class="text-right">
                    Total (CZK)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@invoice.Id">@Html.DisplayFor(modelItem => invoice.RefNumber)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => invoice.Supplier.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => invoice.Recipient.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => invoice.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => invoice.DueDate)
                    </td>
                    <td class="text-center">
                        <i class="@(invoice.IsPaid ? "text-secondary fa fa-check-circle" : "text-secondary fa fa-times-circle")"
                           data-toggle="tooltip"
                           data-placement="right"
                           title="@(invoice.IsPaid ? "Paid" : "Unpaid")">
                        </i>
                    </td>
                    <td class="text-right">
                        @invoice.InvoiceItems.Sum(item => item.Price)
                    </td>
                    @*<td class="text-right pr-4">
                        @if (!item.IsPaid)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                        }
                        else
                        {
                            <i class="fa fa-marker fa-lg"></i>
                        }
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-2"><i class="fa fa-trash-alt fa-lg"></i></a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>

    <div class="card-body"></div>
</div>